# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
