[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"pep8" = "*"

[packages]
e1839a8 = {path = ".", editable = true}
tamago = {path = ".",editable = true}
fakah = {path = ".",editable = true}
autochannel = {editable = true, path = "."}
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "master"}

[requires]
python_version = "3.6"
